
body{
    padding: 0;
    margin:0.5px;
    height: 100%;
    width: 100%;
}
canvas{
    border: 0px 1px 0px 1px 1px solid rgba(70, 70, 70, 0.61);
    background-color:rgb(75, 34, 102);
    user-select: none;   /* To prevent text selection on double clicking */

}
#score{
    /* margin-left: 15%; */
    font-family: cursive;
  float: left;
    width:55%;
    background-color: rgb(78, 78, 78);
    color: rgb(50, 114, 231);
    text-align: center;
    justify-content: center;
    font-size: 40px;
    height: 50px;
    
}
#highScore{
    float: right;
    width: 29%;
    background-color: rgb(78, 78, 78);
    color: hsl(81, 100%, 50%);
    text-align: center;
    font-size: 35px;
    height: 50px;
    font-family: cursive;
}
/* #gOver{
    visibility:hidden;
} */
#btnr{
    float: left;
    /* background-image:linear-gradient(rgb(174, 255, 191),rgb(96, 219, 48)); */
    background-color: hsl(81, 100%, 50%);
    color: green;
    /* display: inline-block; */
    width: 16%;
    height: 50px;
    font-size: 23px;
    font-family: cursive;
    
}
#btnr:hover{
    font-size: 24px;
    background-color: rgba(8, 131, 8, 0.911);
    color:  hsl(81, 100%, 50%);
    cursor: pointer;
}
.msg{
    position: absolute;
    top: 50%;
    left: 40%;
    border: 2px solid black;
    background-color: rgb(146, 255, 182);
    width: 35%;
    height: 140px;
    text-align: center;
    color: rgb(24, 85, 5);
    font-size: 23px;
}
#score{
    display: inline-block;
}
#win{
visibility: hidden;
}
#lost{
visibility: hidden;
}
.btn{
    display: inline-block;
    font-size: 23px;
    color: green;
    background: greenyellow;
}
